/* Remove spaces from the body tag */
body {
    margin: 0;
    padding: 0;
}

.padding-lr-100 {
    padding-right: 100px;
    padding-left: 100px;
}

.padding-tb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.vh-100 {
    height: 100vh;
}

.w-33 {
    width: 30%;
}

.header1 {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: rgb(50, 60, 63);
}

.header1 .social-icons {
    display: inline-block;
}

.social-icons a i {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
    color: #fff;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

.header1 .authentication {
    float: right;
    clear: both;
}

.header1 .authentication a {
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
}

.header1 .authentication a:first-child {
    border-right: 2px solid white;
}

.header2 {
    padding-top: 3px;
    padding-bottom: 15px;
    background-color: rgb(255, 255, 255);
}

.header2 .logo {
    display: inline-block;
}

.header2 .logo img {
    width: 100px;
}

.header2 .menu {
    margin-top: 20px;
    float: right;
    clear: both;
}

.header2 .menu .active {
    font-weight: bold;
}

.header2 .menu a {
    font-size: medium;
    padding: 20px 15px 0 0;
    text-decoration: none;
    color: #000;
}

.header2 .menu a:hover {
    font-weight: bold;
}

.banner {
    position: relative;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 84vh;
    text-align: center;
    margin-top: -22px;
}

.banner .title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-weight: 900;
    font-size: 35px;
    font-weight: lighter;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Styling for the properties section */
.properties {
    background-color: #F6F6F6;
    padding-top: 50px;
    padding-bottom: 100px;
}

/* Styling for individual property cards */
.properties .property {
    display: inline-block;
    text-align: start;
    align-items: center;
    margin-right: 41px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.properties .property:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.properties .property .image {
    height: 300px;
}

.properties .property .image img {
    height: 100%;
    width: 100%;
    align-items: center;
}

.property img {
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
    height: auto;
}

.properties .property .content {
    padding-bottom: 20px;
}

.properties .property .content .title {
    display: inline-block;
    color: #00ABE5;
    padding: 20px 10px 10px 10px;
    text-decoration: none;
    font-size: 20px;
}

.properties .property .content .price,
.properties .property .content .description {
    display: block;
    color: #000;
    padding: 5px 10px;
    font-size: 15px;
}

.properties .title h1 {
    color: #000;
    padding-left: 17px;
}

footer {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 100px;
}

footer .footer1 {
    display: inline-block;
}

footer .footer1 .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #5C5959;
}

footer .footer1 .menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .footer1 .menu li {
    line-height: 25px;
    color: #828180;
}

footer .footer1 .menu li i {
    margin-right: 5px;
}

footer .footer1 .menu li a {
    color: #828180;
}

footer .footer-logo {
    float: right;
}

.footer2 {
    padding: 10px 0;
    background-color: rgb(50, 60, 63);
    color: #fff;
}
    
.map-container {
    background-color: #fff;
    padding-top: 50px;
}

.map iframe {
    width: 100%;
}


.container1 {
    background-color: #F6F6F6;
    text-align: center;
}

.container1 .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    width: 700px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
}


.login-title {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
}

.form-group {
    color: #828180;
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.my-select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


button {
    width: 50%;
    padding: 8px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

button:hover {
    transform: scale(1.2);
    background-color: #3e8e41;
}

button:active {
    background-color: #3e8e41;
}

.container1 .form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 700px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px 400px;
}

.authentication .active2 {
    font-weight: bold;
}

.authentication a:hover {
    font-weight: bold;
}

.signup-link {
    margin-top: 10px;
}

.signup-link a {
    color: #4CAF50;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.homepage{
    text-decoration: none;
    color: #4CAF50;
}

.homepage:hover{
    text-decoration: underline;
}

.block{
    display: block;
}

<<<<<<< HEAD

=======
.error{
    color: red;
}


.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    background:none; 
    color: white;
    width: 50px; 
    height: 50px;
}

.slider-btn:hover {
    background: none;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

#image-slider {
    position: relative;
}

.slider-image{
    width: 100%;
}


.banner2 {
    position: relative;
    background-color: #F7F7F7;
    height: 34vh;
    text-align: center;
    margin-top: -22px;
    margin-bottom: 40px;
}

.banner2 .title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



.details-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 50px 20px;
}

.details-table table tr td {
    border: 1px solid #aaa;
    padding: 5px;
}

.slider-image{
    padding-right: 30px;
}
>>>>>>> f6d0c3ee6c7c347a67d29f90670a30eb41f6fabc
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.conctactus{
    width: 100%;
    height: 100vh;
    background-color: #F6F6F6;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 90%;
    max-width: 600px;
}