.signup-content,
.signin-content,
.social-login,
.socials {
    display: flex;
    display: -webkit-flex;
}

list-type-ulli,
.socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-size: 36px;
}

.main {
    background: #f8f8f8;
    padding: 50px 0;
}

body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-weight: 400;
    font-family: Poppins;
    overflow-y: hidden;
}

.error {
    font-size: 12px;
    color: red;
    margin-top: -22px;
}

.d-none {
    display: none !important;
}

.container {
    width: 900px;
    background: #fff;
    margin: 0 auto;
    border-radius: 10px;
}

.signup {
    margin-bottom: 150px;
}

.signup-content {
    padding: 45px 0;
}

.signup-form,
.signup-image,
.signin-form,
.signin-image {
    width: 50%;
    overflow: hidden;
}

.signup-image {
    margin: 0 55px;
}

.form-title {
    margin-bottom: 33px;
}

.form-submit {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.form-submit:hover {
    background: #4292dc;
}

#signin {
    margin-top: 16px;
}

.signup-image-link {
    font-size: 14px;
    color: #222;
    display: block;
    text-align: center;
}

.term-service {
    font-size: 13px;
    color: #222;
}

.signup-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
}

.register-form {
    width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

.form-group:last-child {
    margin-bottom: 0px;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
    outline: none;
}

label {
    border: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #222;
}

.material-icons-name {
    font-size: 18px;
}

.signin-content {
    padding-top: 37px;
    padding-bottom: 57px;
}

.social-login {
    margin-top: 80px;
}

.signin-form {
    margin-right: 90px;
    margin-left: 80px;
}

.signin-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px;
}